@import "./base.css";

:root {
  --font-family-outfit: "Outfit", sans-serif;
  --font-family-young-serif: "Young Serif", serif;
  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 700;

  --color-primary-nutmeg: hsl(14, 45%, 36%);
  --color-primary-dark-raspberry: hsl(332, 51%, 32%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-rose-white: hsl(330, 100%, 98%);
  --color-neutral-eggshell: hsl(30, 54%, 90%);
  --color-neutral-light-grey: hsl(30, 18%, 87%);
  --color-neutral-wenge-brown: hsl(30, 10%, 34%);
  --color-neutral-dark-charcoal: hsl(24, 5%, 18%);

  --width-mobile: 375px;
  --width-desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-neutral-dark-charcoal);
  font-family: var(--font-family-outfit);
  background-color: var(--color-neutral-eggshell);
  padding: 20px;
}

.container,
.img-container {
  max-width: 960px;
  min-width: 375px;
  margin-inline: auto;
  padding: 30px;
  margin-block: 100px;

  background-color: var(--color-neutral-white);
  border-radius: 20px;
}

h1 {
  font-size: 30px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
  font-weight: var(--font-weight-light);
}

h1,
h2 {
  font-family: var(--font-family-young-serif);
}

h2 {
  color: var(--color-primary-nutmeg);
}

h3 {
  color: var(--color-primary-dark-raspberry);
}

img {
  border-radius: 10px;
  /* margin-bottom: 30px; */
}

section {
  margin-bottom: 20px;
}

.prep {
  padding: 20px;
  background-color: var(--color-neutral-rose-white);
}

.ingredients,
.instructions,
.nutrition {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-neutral-light-grey);
  /* margin-bottom: 20px; */
}

.nutrition {
  border-bottom: none;
}

@media (min-width: 375px) {
  .img-container {
    margin-inline: 0;
  }

  /* img {
    display: block;
  } */
}
