.container {
  padding: 40px;
  margin-inline: auto;
}

@media (width <= 34rem) {
  .container {
    padding: 0;
    margin-inline: 0;
  }
}

.container--centering {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
