ul,
ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.inc-indent {
  position: relative;
  left: 20px;
}

li::marker {
  color: var(--brown-800);
  font-family: var(--font-family-2);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-3);
}
